
<mat-toolbar color="warn">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
    <span>Angular Material Reactive Forms</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="material-symbols-outlined">settings</mat-icon> -->

    <button mat-raised-button (click)="openDialog()">Add Product</button>
    <!-- <mat-icon>favorite_border</mat-icon>
    <mat-icon class="material-icons-two-tone">home</mat-icon> -->

</mat-toolbar>

<router-outlet>
</router-outlet>